name: Build and Deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23.4'

    - name: Build binary
      run: |
        go mod tidy
        go build -o myapp ./main.go

    - name: Deploy to Server
      uses: appleboy/scp-action@v0.1.4
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        source: "myapp"
        target: "/home/${{ secrets.SERVER_USER }}/app"

    - name: Restart Service
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          export TELEGRAM_API_TOKEN=${{ secrets.TELEGRAM_API_TOKEN }}
          chmod +x /home/root/app/myapp
          systemctl restart myapp.service